{% extends 'B2MainBundle::layout.html.twig' %}

    {% block content %}
        <div class="container">

        {% set cat = category|split('-') %}
        {% set sub = subcategory|split('-') %}


        <h3>Question Set : {% for catName in cat %} {{ catName|capitalize }}{% endfor %} >> {% for catName in sub %} {{ catName|capitalize }}{% endfor %}</h3>
        <h3>Do as Directed : </h3>
        <form action="{{ path('answer_submit') }}" method="post" autocomplete="off">
            <input type="hidden" readonly="readonly" name="category" value="{{ category }}"/>
            <input type="hidden" readonly="readonly" name="subcategory" value="{{ subcategory }}"/>
            <input type="hidden" readonly="readonly" name="user" value="{{ user }}"/>
            <input type="hidden" readonly="readonly" name="questionSheetIndex" value="{{ questionSheetIndex }}"/>

            {{ classObjDisplay|raw }}
            <input type="submit" value="Submit"/>
        </form>
        </div>
    {% endblock %}