{% extends 'B2MainBundle::layout.html.twig' %}
{% block title "- Result -" %}
    {% block content %}
        <div class="container">
            <div class="result-summary">
                {% set cat = category|split('-') %}
                {% set sub = subcategory|split('-') %}

                <div class="alert alert-success" role="alert">
                    <h4>You have successful complete the test for
                        : {% for catName in cat %} {{ catName|capitalize }}{% endfor %}
                        >> {% for catName in sub %} {{ catName|capitalize }}{% endfor %}</h4>
                </div>
                <div class="test-summary">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Test Summary :</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                            <h4>
                                <span class="label label-info">Total Question Asked :</span>
                                <span class="badge alert-info">{{ result.summery.totalQuestionAsked }}</span>
                            </h4>
                            </p>
                            <p>
                                <h4>
                                <span class="label label-primary">Pre Filled Answers :</span>
                                <span class="badge alert-infos">{{ result.summery.totalPreFilled }}</span>
                            </h4>
                            </p>

                            <p>
                                <h4>

                                <span class="label label-success">Total Answer Correct :</span>
                                <span class="badge alert-success">{{ result.summery.totalCorrectAnswer }}</span>
                            </h4>
                            </p>

                            <p>Question Not Attend : {{ result.summery.totalNotAttendQuestion }}</p>

                            <p>Overall Percentage : <b>{{ result.summery.overAllPercentage }}%</b></p>

                            <p>
                                <h4>
                                <span class="label label-info">Remark :</span>
                                {% if (result.summery.message == 'Poor') or (result.summery.message == 'Failed')  %}
                                    <span class="badge alert-danger">{{ result.summery.message }}</span>
                                {% elseif (result.summery.message == 'Average') or (result.summery.message == 'Good') %}
                                    <span class="badge alert-warning">{{ result.summery.message }}</span>
                                {% else %}
                                    <span class="badge alert-success">{{ result.summery.message }}</span>
                                {% endif %}
                                </h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="worksheet-summary">
                    {% for index in result.report %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Question Work Sheet No. {{ loop.index }}</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                <h4>

                                    <span class="label label-success">Question Asked: </span>
                                    <span class="badge"> {{ index.status.totalQuestion }}</span>
                                </h4>
                                </p>
                                <p>
                                <h4>
                                    <span class="label label-primary">Pre Filled Answers: </span>
                                    <span class="badge"> {{ index.status.preFilled }}</span>
                                </h4>
                                </p>
                                <p>Answer Correct : {{ index.status.correctAnswer }}</p>

                                <p>Question Not Attend : {{ index.status.notAttendQuestion }}</p>

                                <p>Percentage : <b>{{ index.status.scoredPercentage }}%</b></p>

                                <h4>Answer Sheet :</h4>

                                <div class="answer-sheet">
                                    {{ index.answerSheet|raw }}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
            <div><a href="{{ path('main_list') }}" class="sf-button sf-button-selected">Take another test</a></div>
        </div>
    {% endblock %}