{% extends 'B2MainBundle::layout.html.twig' %}
{% block title "- Result -" %}
    {% block content %}

        {% set cat = category|split('-') %}
        {% set sub = subcategory|split('-') %}


        <h4>You have successful complete the test for : {% for catName in cat %} {{ catName|capitalize }}{% endfor %} >> {% for catName in sub %} {{ catName|capitalize }}{% endfor %}</h4>

        <h3>Test Summery :</h3>
        <p>Total Question Asked : {{ result.summery.totalQuestionAsked }}</p>
        <p>Pre Filled Answers: {{ result.summery.totalPreFilled }}</p>
        <p>Total Answer Correct : {{ result.summery.totalCorrectAnswer }}</p>
        <p>Question Not Attend : {{ result.summery.totalNotAttendQuestion }}</p>
        <p>Overall Percentage : <b>{{ result.summery.overAllPercentage }}%</b></p>
        <p>Remark : {{ result.summery.message }}</p>

        <hr/><hr/>


        {% for index in result.report %}

            <h3>Question Work Sheet No. {{ loop.index }}</h3>
            <p>Question Asked : {{ index.status.totalQuestion }}</p>
            <p>Pre Filled Answers: {{ index.status.preFilled }}</p>
            <p>Answer Correct : {{ index.status.correctAnswer }}</p>
            <p>Question Not Attend : {{ index.status.notAttendQuestion }}</p>
            <p>Percentage : <b>{{ index.status.scoredPercentage }}%</b></p>

            <h4>Answer Sheet :</h4>
            {{ index.answerSheet|raw }}
            <hr>
        {% endfor %}

        <div><a href="{{ path('main_list') }}" class="sf-button sf-button-selected">Take another test</a></div>
    {% endblock %}