{% extends 'B2MainBundle::layout.html.twig' %}
{% block title %}Subject Listing{% endblock %}
    {% block content %}
        <div class="container">
            <p>&nbsp;</p>
            <h1>Content :</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit enim mattis iaculis molestie. Proin in nibh rhoncus, accumsan sapien accumsan, viverra ipsum. Proin mauris libero, posuere at enim nec, rutrum consectetur est. Ut semper ipsum in velit lacinia malesuada. Cras tempor bibendum ante, eu consectetur ipsum hendrerit quis. Proin sollicitudin bibendum urna. Suspendisse molestie est vel euismod rhoncus. Aliquam sit amet ante nec magna volutpat dapibus vitae eu risus.</p>

            <p>In vel purus ornare, aliquam diam id, viverra est. Phasellus in ornare eros. In finibus felis orci, sed maximus tellus vulputate et. Curabitur sagittis rhoncus mi, malesuada mollis nulla sodales eu. In ipsum tellus, pellentesque vel justo nec, facilisis porta ante. Donec pellentesque nulla ipsum, sed lobortis purus molestie ac. Duis non ipsum nunc. In at cursus risus. Suspendisse commodo iaculis quam, porttitor imperdiet mauris bibendum nec. Praesent sagittis viverra volutpat. Curabitur quis aliquam erat. Nunc orci purus, mattis sed consectetur eu, condimentum vel arcu. Sed porta ut sem ac mollis. Sed luctus aliquet ex, in accumsan felis tincidunt vel. Nulla facilisi. Morbi vestibulum egestas est sed facilisis.</p>

            <h3>Select Any From List - </h3>

            <div class="panel-group" id="accordion1">
                {% for cat in col1 %}
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion1" data-toggle="collapse" data-target="#{{ cat.id }}">
                            <h4 class="panel-title">
                                <a href="{{ url('_homepage') }}show/{{ cat.category|e }}"> {{ cat.categoryName|e }}</a>
                            </h4>
                        </div>
                        <div id="{{ cat.id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>In finibus felis orci, sed maximus tellus vulputate et. Curabitur sagittis rhoncus mi, malesuada mollis nulla sodales eu. In ipsum tellus, pellentesque vel justo nec, facilisis porta ante.</p>
                                {% for subcat in cat.sub %}
                                    <div class="list-group">
                                        {% if is_granted("ROLE_USER") %}
                                            <a href="{{ url('_homepage') }}show/{{ cat.category|e }}/{{ subcat.subcategory|e }}">{{ subcat.subcategoryName|e }}</a>
                                        {% elseif subcat.hasSample %}
                                            <a href="{{ url('_homepage') }}sample/{{ cat.category|e }}/{{ subcat.subcategory|e }}">{{ subcat.subcategoryName|e }}</a>
                                        {% else %}
                                            {{ subcat.subcategoryName|e }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <div style="width:20px;float: left">&nbsp;</div>
            <div class="panel-group" id="accordion2">
                {% for cat in col2 %}
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" data-toggle="collapse" data-target="#{{ cat.id }}">
                            <h4 class="panel-title">
                                <a href="{{ url('_homepage') }}show/{{ cat.category|e }}"> {{ cat.categoryName|e }}</a>
                            </h4>
                        </div>
                        <div id="{{ cat.id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>In finibus felis orci, sed maximus tellus vulputate et. Curabitur sagittis rhoncus mi, malesuada mollis nulla sodales eu. In ipsum tellus, pellentesque vel justo nec, facilisis porta ante.</p>
                                {% for subcat in cat.sub %}
                                    <div class="list-group">
                                        {% if is_granted("ROLE_USER") %}
                                            <a href="{{ url('_homepage') }}show/{{ cat.category|e }}/{{ subcat.subcategory|e }}">{{ subcat.subcategoryName|e }}</a>
                                        {% elseif subcat.hasSample %}
                                            <a href="{{ url('_homepage') }}sample/{{ cat.category|e }}/{{ subcat.subcategory|e }}">{{ subcat.subcategoryName|e }}</a>
                                        {% else %}
                                            {{ subcat.subcategoryName|e }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
{% endblock %}