{% extends "B2AccountBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
<div class="login-form">

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin" autocomplete="off">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-element">

    <label for="username">{{ 'security.login.username'|trans }}  or {{ 'form.email'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />

    </div>
    <div class="form-element">

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class="form-control" />
    </div>
    <div class="form-element">

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <div class="form-element">

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
            class="btn btn-lg btn-primary btn-block"/>
    </div>


</form>
    <div><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"
            alt="Sign in with Facebook" class="btn btn-primary" >
            <i class="fa fa-facebook"></i> Sign in with Facebook</a></div>
    </div>
{% endblock fos_user_content %}
